.descriptionBlock {
    display: flex;
    color: #7a7a81;
    padding-bottom: 20px;
}

.image {
    max-height: 410px;
    width: 30%;
    padding: 10px;
    background:  #e2d6dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    background:  #e2d6dc;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}

.item {
    padding: 10px;
    margin: 10px;
    border: 1px solid #c0a7d9;
    border-radius: 10px;
}

.image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.changePhoto {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.changePhoto div {
    height: 48px;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="file"] {
    display: none;
}

.customFileUpload {
    font-size: 18px;
}

.customFileUpload :hover {
    color: #434347;
}

.contact {
    padding: 10px 0 0 10px;
    border-bottom: 1px dashed #e7e8ee
}

.edit {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.edit button {
    height: 40px;
    width: 100%;
    padding: 0;
    color: #7a7a81;
    font-weight: bold;
    background: none;
    border: 1px solid #c0a7d9;
    border-radius: 10px;
}

.edit :hover {
    background: #c0a7d9;
}
