.mainBlock{
    background-color: #e2d6dc;
    border-radius: 10px;
    padding-left: 20px;
}
.block{

}
.usersBlock{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
}
.container{
    width: 300px;
    height: 150px;
    padding: 10px;
    margin: 0 20px 20px 0;
    border: 1px solid #c0a7d9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.avatar {
    width: 100px;
    height: 75px;
}
.selectedPage{
    font-weight: bold;
}