.header{
    grid-area: h;
    height: 48px;
    /*background-color: rgba(0,0,0,.7);*/
    background-color: #e2d6dc;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 0 179px 0 179px;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
}
.header img{
    width: 32px;
    height: 32px;
    border-radius: 50px;
}
.loginBlock{
    float: right;
}
.loginBlock a {
    color: black;
}