.footer {
    grid-area: f;
    background-color:  #e2d6dc;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
/*.block{
    display: flex;
    justify-content: center;
    align-items: center;
}*/
