body {
  /*  background-image: url("./assets/img/mountain.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    margin: 0;
    background-color: white;
   /* background: linear-gradient(45deg, white, #c4c2c2) no-repeat;*/
}

.app-wrapper {
    display: grid;
    height: 100vh;
    grid-template-areas:
"h h"
"n c"
"f f";
    grid-template-rows:  48px 1fr 48px;
    grid-template-columns: 3fr 9fr;

    /*grid-column-gap: 10px;*/
}

.app-wrapper-content {
    grid-area: c;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 20px 179px 20px 10px;
}

.navigation {
    background-color:  #e2d6dc;
    grid-area: n;
    margin: 20px 10px 20px 179px;
    border-radius: 10px;
}

