
.dialogs {
    display: flex;


}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.messages {
    padding: 10px;
}

.dialogItems {
    padding: 10px;

}

.dialogItems .active{
    color: azure;
}

.dialog img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

